:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;

    --exit-light: #ffa898;
    --exit: #b84c39;
    --exit-dark: #440a00;
    --txt-clr: #e9e3d0;
  
    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
    --greyDark2: #8e97ac;

    --button-height: 14px;
    --button-color-play: #2ecc71;
    --button-color-pause: #f1c40f;
    --background-color: #34495e;
}

body {
    overflow: hidden;
}

#product-info-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#info {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: var(--txt-clr);
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
}

.img1 {
    display: flex;
    align-content: center;
    justify-content: center;
}

img {
    position: inherit;
    width: 100px;
    height: 100px;
    align-content: center;
}

#button {
    font-size: 14px;
    margin: 20px;
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#exit {
    font-size: 14px;
    position: absolute;
    top: 20px;
    right: 10px;
    transform: translateX(-50%);
    z-index: 1;
}

#product-info {
    position: absolute;
    overflow: auto;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    width: 90vw;
    height: 80vh;
    display: none;
    z-index: 1;
}

#lang {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 90px;
    transform: translateX(-1%);
    z-index: 1;
}

.p {
    position: absolute;
    width: 100px;
}

.bottom {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 1;
}

.navigation {
    display: flex;
}

.bottom button {
    margin: 0 10px;
    width: 75px;
}

.btn {
    width: 6rem;
    height: 2rem;
    border-radius: 1rem;
    margin-top: 2rem;
    box-shadow: 0.2rem 0.2rem 0.1rem var(--greyLight-2), -0.1rem -0.1rem 0.1rem var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
    border: none;
}

.btn__primary {
    background: var(--primary);
    box-shadow: inset 0.1rem 0.1rem 0.1rem var(--primary-light), inset -0.1rem -0.1rem 0.1rem var(--primary-dark), 0.01rem 0.01rem 0.1rem var(--greyLight-2), -0.01rem -0.01rem 0.1rem var(--white);
    color: var(--greyLight-1);
}

.btn__primary:hover {
    color: var(--white);
}

.btn__primary:active {
    /* Use the inner-shadow variable here */
    box-shadow: inset 0.1rem 0.1rem 0.1rem var(--primary-dark), inset -0.1rem -0.1rem 0.1rem var(--primary-light);
}

.btn span {
  font-size: 1rem;
}

.exit {
    width: 3rem;
    height: 2rem;
    border-radius: 1rem;
    /* margin-top: 2rem; */
    box-shadow: 0.2rem 0.2rem 0.1rem var(--greyLight-2), -0.1rem -0.1rem 0.1rem var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
    border: none;
}

.btn__exit {
    background: var(--exit);
    box-shadow: inset 0.1rem 0.1rem 0.1rem var(--exit-light), inset -0.1rem -0.1rem 0.1rem var(--exit-dark), 0.01rem 0.01rem 0.1rem var(--greyLight-2), -0.01rem -0.01rem 0.1rem var(--white);
    color: var(--greyLight-1);
}

.btn__exit:hover {
    color: var(--white);
}

.btn__exit:active {
    /* Use the inner-shadow variable here */
    box-shadow: inset 0.1rem 0.1rem 0.1rem var(--exit-dark), inset -0.1rem -0.1rem 0.1rem var(--exit-light);
}

.select {
    width: 3rem;
    height: 2rem;
    border-radius: 1rem;
    /* margin-top: 2rem; */
    box-shadow: 0.08rem 0.08rem 0.1rem var(--greyLight-2), -0.1rem -0.1rem 0.1rem var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
    border: none;
}

h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--txt-clr);
}

p {
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--txt-clr);
    text-indent: 3em;
}

p::first-line {
    padding-left: 70px;
}

a-scene canvas {
    cursor: default !important;
}